.green{
    background-color: green;
    color: white;
}
.styled-select {
    height: 30px;
    overflow: hidden;
    width: 150px;
 }
.rounded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.center {
    text-align: center;
}
.button {
    background-color: green;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.down10{
    position:relative;
    top:10px;
}
.down5{
    position:relative;
    top:5px;
}
.button:hover {
    background-color: #1c6621;
}
.styled-select:hover{
    background-color: #1c6621;
}
